.header {
  .header-wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 10px auto;

    .header-location {
      width: 100px;
      height: 39px;
      background-color: #f4f4f4;

      .text-1 {
        font-size: 11px;
      }
    }

    .header-search {
      .search-1 {
        position: absolute;
        width: 15px;
        height: 15px;
        margin-left: 43rem;
      }

      input {
        background-color: #f4f4f4;
        width: 459px;
        height: 40px;
        border-radius: 30px;
      }
    }

    .header-authen {

      a {
        text-transform: uppercase;
        padding: 0 5px;
        font-size: 16px;
      }

      a:hover {
        color: blueviolet;
      }

      span {
        font-size: 15px;
      }
      .login-signup{
        width: 60px;
   height: 40px;
   background-color: blueviolet;
   border-radius: 3px;
   color: white;
      }
    }

    .header-cart {
      .cart-1 {
        width: 30px;
        height: 33px;
      }

      .text-2 {
        padding-left: 5px;
        font-size: 25px;
      }

      .text-2:hover {
        color: blueviolet;
      }
    }
  }

  .list-menu {
    ul {
      margin-top: 40px;
      li {
        a {
          text-transform: uppercase;
          font-size: 19px;
        }

        a:hover {
          color: blueviolet;
          margin-right: 7px;
          border-bottom: 3px solid blueviolet;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .header {
  .list-menu{
    ul li{
      display: none;
    }
  }
    .header-wrap {
      .header-search {
        input {
          display: none;
        }

        .search-1 {
        
          margin-left: -2rem;
          margin-top: 13%;

        }
      }

      .header-authen {
        padding-top: 26%;
        position: absolute;
      }

      .header-cart {
        position: absolute;
        margin-left: 73%;
        margin-top: 20%;

        .cart-1 {

          margin-top: 30%;

          width: 20px;
          height: 23px;

        }

        .text-2 {
          padding-left: 5px;
          font-size: 16px;

        }
      }
    }
  }
}

@media (max-width: 376px) {
  .header {
    .list-menu{
      ul li{
        display: none;
      }
    }
    .header-wrap {
      .header-search {
        input {
          display: none;
        }

        .search-1 {
          margin-left: -13rem;
          margin-top: 13%;

        }
      }

      .header-authen {
        padding-top: 26%;
        position: absolute;
      }

      .header-cart {
        position: absolute;
        margin-left: 73%;
        margin-top: 20%;

        .cart-1 {

          margin-top: 30%;

          width: 20px;
          height: 23px;

        }

        .text-2 {
          padding-left: 5px;
          font-size: 16px;

        }
      }
    }
  }
}

@media (max-width: 426px) {
  .header {
    .list-menu{
      ul li{
        display: none;
      }
    }
    .header-wrap {
      .header-search {
        input {
          display: none;
        }

        .search-1 {
          margin-left: -13rem;
          margin-top: 13%;

        }
      }

      .header-authen {
        padding-top: 26%;
        position: absolute;
      }

      .header-cart {
        position: absolute;
        margin-left: 73%;
        margin-top: 20%;

        .cart-1 {

          margin-top: 30%;

          width: 20px;
          height: 23px;

        }

        .text-2 {
          padding-left: 5px;
          font-size: 16px;

        }
      }
    }
  }
}


@media (max-width: 768px) {
  .header {
    .list-menu{
      ul li{
        display: none;
      }
    }
    .header-wrap {
      .header-search {
        input {
          display: none;
        }

        .search-1 {
          margin-left: 1rem;

        }
      }
    }
  }
}