.header {
  .header-wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 10px auto;

    .header-location {
      width: 100px;
      height: 39px;
      background-color: #f4f4f4;

      .text-1 {
        font-size: 11px;
      }
    }

    .header-search {
      .search-1 {
        position: absolute;
        width: 15px;
        height: 15px;
        margin-left: 5px;
      }

      input {
        background-color: #f4f4f4;
        width: 459px;
        height: 40px;
        border-radius: 30px;
      }
    }

    .header-authen {

      a {
        text-transform: uppercase;
        padding: 0 5px;
        font-size: 16px;
      }

      span {
        font-size: 15px;
      }
    }

    .header-cart {
      .cart-1 {
        width: 30px;
        height: 33px;
      }

      .text-2 {
        padding-left: 5px;
        font-size: 25px;
      }

      .text-2:hover {
        color: red;
      }
    }
  }

  .list-menu {
    ul {
      margin-top: 40px;

      li {
        a {
          text-transform: uppercase;
          font-size: 19px;
        }

        a:hover {

          margin-right: 7px;
          border-bottom: 3px solid red;
        }
      }
    }
  }
}